.admin_title {
    color: #131518;
}

.page {
    height: 100vh;
    background-image: url(/public/admin_back.jpg);
    background-size: cover;
  }

  .fileinput {
    /* position: relative; */
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .form-btns {
    margin-top: 60px;

  }

  .add-btn{
    width: 100%;
  }

  h2 {
    text-align: left;
  }