
.container {
    color: white;
}

.top_space {
    height: 20px;
}

.show_dashboard {
    background-color: #888;
}

.logo_imgs {
    text-align: left;
}

.logo_imgs img {
    vertical-align: bottom;
    max-width: 200px;
}
.inbox {
    width: 100%;
    background-color: #186994;
    border-radius: 10px;
    font-size: 22px;
    padding: 7px;
    font-family: 'Montserrat';
}
.form_1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.form_1 div {
    font-size: 15px;
    background-color: white;
    color: #186994;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.sub_text {
    height: 30px;
    width: 60%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 20px;
}

.inbox p {
    font-size: 12px;
}

.mail_img {

}

.frame div {
    align-items: center;
}

.button_group {
    color: black;
    font-size: 15px;
    
}

.button_group div{
    padding:10px 3px  !important;
}

.each_btn {
    background-color: #eee;
    border-radius: 20px;
    cursor: pointer;
}

.each_btn:hover {
    background-color: #232;
    color: white;
}
.main_container {
    height: 70vh;
    /* background-color: #186994; */
    position: relative;
}

.footer_btns {
    margin-top: 20px;
}
.footer_btns button {
    margin: 0 10px ;
    border-radius: 20px;
    padding: 3px 20px;
}

 .password_checker  {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.from_title {
    /* text-decoration: underline; */
    border-bottom: 1px solid white;
    text-align: left;
}


/* here is part of to change background color NavBar */
#offcanvasNavbar {
	background-color: #131518;
    color: white;
    text-align: center;
    
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .curtainspan {
    font-size:30px;
    cursor:pointer;
  }

  .title_container {
    display: flex;
    justify-content: space-between;
  }

  .curtain_headline {
    font-size: 20px;
    min-height: 50px;
    min-width: 120px;
  }

  .curtain_footline {
    font-size: 20px;
    min-height: 50px;
    margin-top: 80vh;
  }

  .modal_title {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .curtain_line {
    display: flex;
    width: 100%;
    color: #d2d2d2;
    justify-content: space-around;
    cursor: pointer;
  }

  .curtain_line div:hover {
    color: #fff;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }



@media only screen and (max-width: 520px) {
    .inbox {
      width: 100%;
      font-size: 15px;
      margin-top: 20px;
    }

    .main_container {
        height: 20vh;
        position: relative;
    }
    

    .footer_btns button {
        margin-top: 10px;
        width: 40%;
        font-size: 12px;
    }

    .footer_btns button:nth-child(1) {
        width: 85%;   
    }
    .curtain_line {
        flex-direction: column;
    }

    .curtain_headline { 
        width: 100%;
    }

    .blank {
        height: 100px;
    }

    .curtain_footline {
        margin-top: 0;
    }

  }
