.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.first_page {
  background-image: url(/public/back.jpg);
}

.title_logo a {
  color: #FF7171 !important;
  font-weight: 400;
  font-size: 36px;
  line-height: 84%;
}



.mt-5vh {
  margin-top: 5vh;
}

.title_logo_hand {
  color: white;
}

a {
  text-decoration: none !important;
  /* color: #FF7171 !important; */
}

.main_slogan {
  color: #FF7171;
  /* font-family: 'Montserrat'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 100px;
  margin-top: 15vh;
  width: 100%;
}

.hand_div {
  margin-left: -40%;
  /* -40 */
}

.model_div {
  margin-left: -5%;
  /* -5 */
}

.agency_div {
  margin-left: 30%;
  /* 30 */
}

.main_slogan div {
  font-size: calc(40px + 2.5vw);
}


.apply_join {
  position:absolute;
  bottom: 0rem;
  right: 0;
}

.font-face-tg {
  font-family: "Terminator_Genisys";
}

.font-face-ms {
  font-family: "Montserrat-Regular";
}

.top_right_icon {
  display: flex;
  justify-content: end;
  min-width: 30px;
  margin-right: 15px;
  /* position: absolute; */
  /* top: 2rem;
  right: 2rem; */
}

.top_right_icon:hover {
  cursor: pointer;
}


@media only screen and (max-width: 520px) {
  .title_logo {
    font-size: 28px;
  }

  .first_page {
    height: 100vh;
  }

  .title_logo a {
    font-size: 24px;
  }

  
}